section.app
      img(src="img/app.jpg", alt="App").app__background
      
      div.app__generic
          h2.app__title Llévate la música contigo
          div.app__line
          p.app__description SoundCloud está disponible en Web, iOS, Android, Sonos, Chromecast y Xbox One.
          img.app__icon(src="img/apple.png", alt="Logo de apple")
          img.app__icon(src="img/android.png", alt="Logo de android")
