section.contact
    div.contact__generic
        h2.contact__title Llamada a todos los creadores
        p.contact__description Hazte con SoundCloud para estar en contacto con tus seguidores, compartir tus canciones y aumentar tu público. ¿A qué esperas?
    
        a(href="#").contact__button Más información
