footer.footer
    div.footer__generic
        a(href="#").footer__item Búsquedas populares
        a(href="#").footer__item Directorio
        a(href="#").footer__item Quiénes somos
        a(href="#").footer__item Blog
        a(href="#").footer__item Trabajo
        a(href="#").footer__item Desarrolladores
        a(href="#").footer__item Ayuda
        a(href="#").footer__item Legal
        a(href="#").footer__item Privacidad
        a(href="#").footer__item Cookies
        a(href="#").footer__item SoundCloud Ltd.
        a(href="#").footer__item Listas de éxitos 
    p.footer__country #[span Idioma]: Español 
