header.header
    nav.main-menu
        div.main-menu__generic
            img(src="img/soundcloud.png", alt="Logo de soundcloud").main-menu__logo
            p.main-menu__title SOUNDCLOUD
        
        div.main-menu__generic
            a(href="#").main-menu__item Inicia sesión
            a(href="#").main-menu__item Crear tu cuenta
            a(href="#").main-menu__item Para creadores

    h1.header__title Conectar en Soundcloud
    p.header__description Descubre, escucha y comparte un catálogo de música que no deja de crecer con artistas emergentes y consolidados de todo el mundo.
    a(href="#").header__button Registrarse gratis
