section.login
    h2.login__title Gracias por escuchar, ahora únete.
    p.login__description Guarda pistas, sigue a artistas y crea tus listas. Y todo, gratis.
    a(href="#").login__button Crea tu cuenta
    
    div.login__generic
        a(href="#").login__link ¿Ya tienes una cuenta?
        a(href="#").login__link Inicia sesión
