div.player#player.is-hide
    div.player__content
        div.control
            img.control__item(src="img/back.svg", alt="Ícono de back")
            img.control__item(src="img/play.svg", alt="Ícono de play")
            img.control__item(src="img/next.svg", alt="Ícono de next")
            img.control__item(src="img/play.svg", alt="Ícono de play")
            img.control__item(src="img/repeat.svg", alt="Ícono de repeat")
                
        div.current
            span.current__passed 1:01
            div.current__timeline 
            span.current__duration 3:24  
            
        div.settings
            img.settings__volume(src="img/volume.svg", alt="Ícono de volumen") 
            img.settings__img(src="img/item__02.jpg", alt="Carátula") 
            div.settings__description
                span.settings__artist Swervin feat. 6ix9ine
                span.settings__album A BOOGIE WIT DA HOODIE
            img.settings__like(src="img/like.svg", alt="Ícono de like") 
