section.top
    div.top__form
        input(type="text", placeholder="Buscar artistas, grupos, pistas y podcast").top__input
        span.top__span o
        a(href="#").top__button Sube la tuya
        
    h2.top__title Escucha la música del momento gratis en la comunidad SoundCloud
    
    div.list
        div.list__item
            img(src="img/item__01.jpg", alt="Imagen de portada").list__img
            h3.list__title Swervin feat. 6ix9ine
            h4.list__subtitle A BOOGIE WIT DA HOODIE
        div.list__item
            img(src="img/item__02.jpg", alt="Imagen de portada").list__img
            h3.list__title 풍경 by V of BTS
            h4.list__subtitle BTS
        div.list__item
            img(src="img/item__03.jpg", alt="Imagen de portada").list__img
            h3.list__title 약속 By JIMIN Of BTS
            h4.list__subtitle BTS
        div.list__item
            img(src="img/item__04.jpg", alt="Imagen de portada").list__img
            h3.list__title Mohamed Ramadan
            h4.list__subtitle Mohamed Ramadan
        div.list__item
            img(src="img/item__05.jpg", alt="Imagen de portada").list__img
            h3.list__title YNW MELLY
            h4.list__subtitle YNW MELLY
        div.list__item
            img(src="img/item__06.jpg", alt="Imagen de portada").list__img
            h3.list__title BTS
            h4.list__subtitle BTS
        div.list__item
            img(src="img/item__07.jpg", alt="Imagen de portada").list__img
            h3.list__title 이런 엔딩 Ver2 By JK of BTS
            h4.list__subtitle BTS
        div.list__item
            img(src="img/item__08.jpg", alt="Imagen de portada").list__img
            h3.list__title Leave Me Alone 
            h4.list__subtitle Flipp Dinero
        div.list__item
            img(src="img/item__09.jpg", alt="Imagen de portada").list__img
            h3.list__title Calling My Spirit
            h4.list__subtitle Kodak Black
        div.list__item
            img(src="img/item__10.jpg", alt="Imagen de portada").list__img
            h3.list__title sheck wes - mo bamba
            h4.list__subtitle 16yrold
        div.list__item
            img(src="img/item__11.jpg", alt="Imagen de portada").list__img
            h3.list__title Mixed Personalities 
            h4.list__subtitle Ynw Melly
        div.list__item
            img(src="img/item__12.jpg", alt="Imagen de portada").list__img
            h3.list__title ZEZE
            h4.list__subtitle Kodak Black
    
    a(href="#").top__button Explora las listas de moda
