html, body {
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		font-display: auto;
		background: $gray;
		// scrollbar-width: none;
}
h1,
h2{
		font-size: 32px;
		line-height: 64px;
		font-weight: normal;
}
h2{
		font-size: 24px;
		color: lighten($black, 5);
}
h3,
h4{
	  font-size: 12px;
	  font-weight: normal;
		line-height: 18px;
}
h4{
		font-size: 10px;
		color: lighten($black, 5);
}
a{
		text-decoration: none;
		color: $white;
		outline: none;
		cursor: pointer;
}
input{ outline: none; }
// ::-webkit-scrollbar {
// 		width: 0;
// }
